Sistema Nomina/CapaEntidades/obj*
Sistema Nomina/CapaDatos/obj*
Sistema Nomina/CapaNegocios/obj*
Sistema Nomina/CapaPresentacion/obj*
Sistema Nomina/CapaDatos/obj/Debug*
Sistema Nomina/CapaPresentacion/obj/Debug*
