<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CapaPresentacion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
    <connectionStrings>
		<add name="Conectar" connectionString="Server = .; Database = Sistema_Nomina; Integrated Security = yes"/>
	</connectionStrings>
    <userSettings>
        <CapaPresentacion.Properties.Settings>
            <setting name="afpPorcentaje" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="arsPorcentaje" serializeAs="String">
                <value>2.58</value>
            </setting>
            <setting name="isrPorcentaje" serializeAs="String">
                <value>0</value>
            </setting>
        </CapaPresentacion.Properties.Settings>
    </userSettings>
</configuration>